<div class="row">	
	<div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <h2>Checkout</h2>
        <div class="panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">Cart contents</div>
            <div class="panel-body">
                <div class="row cart-row">
                <div class="cart-contents-title col-md-4">
                    <div class="col-md-12">
                        <div class="col-md-8 col-md-offset-2">
                            Quantity:
                        </div>
                    </div>
                </div>
                <div class="cart-contents-title col-md-5">
                    Product name:
                </div>
                <div class="cart-contents-title text-right col-md-3">
                    <div class="col-md-12">
                        Total price:
                    </div>
                </div>
                </div>
                {{#each session.cart}}
                    <div class="row cart-row">
                        <div class="col-md-4">
                            <div class="cart-item-row col-md-2">
                                <a class="cart-delete-button" data-id="{{@key}}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm qty-btn-minus" type="button">-</button>
                                    </span>
                                    <input type="text" class="form-control input-sm add-color text-center" id="{{@key}}" maxlength="3" value="{{this.quantity}}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm qty-btn-plus" type="button">+</button>
                                    </span>
                                </div>
                            </div>
                            <div class="cart-item-row col-md-2">
                                <a class="cart-update-button" data-id="{{@key}}"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="cart-item-row text-left col-md-5">
                            <a class="cart-link" href="/product/{{this.link}}">{{this.title}}</a>
                        </div>
                        <div class="cart-item-row text-right col-md-3">
                            <div class="col-md-12">
                                ${{this.total_item_price}}
                            </div>
                        </div>     
                    </div>
                {{/each}}
                <div class="row">
                    <div class="cart-contents-title col-md-12">
                        <div class="col-lg-6 text-left">
                            <button class="btn btn-sm btn-danger" id="empty-cart">Empty cart</button>
                        </div>
                        <div class="col-lg-6 text-right">
                            Total: ${{session.total_cart_amount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#ifCond payment_approved '==' true}}
            <h3 class="text-center text-success">Your payment has been successfully completed</h3>
        {{else}}
            <h3 class="text-center text-danger">{{payment_message}}</h3>
            <div class="panel panel-default" style="margin-top: 30px;">
                <div class="panel-heading">Customer details</div>
                <div class="panel-body">
                    <form class="shipping-form">
                        <div class="col-md-8">
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="ship_email" placeholder="Email address">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="ship_firstname" placeholder="First name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="ship_lastname" placeholder="Last name">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="ship_addr1" placeholder="Address 1">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="ship_addr2" placeholder="Address 2 (optional)">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="ship_country" placeholder="Country">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="ship_state" placeholder="State/Province">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="ship_postcode" placeholder="Post/Zip code">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="6RNT8A4HBBJRE">
                            <input type="image"
                                src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif"
                                name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif"
                                width="1" height="1">
                            </form>
                        </div>
                    </form>
                </div>
            </div>
        {{/ifCond}}
	</div>
</div>